{% set encoding = "multipart/form-data" if form.__iter__() | selectattr("type", "in", ["FileField","MultipleFileField"]) | list else "application/x-www-form-urlencoded" %}

{% macro render_field(field, has_check=True) -%}

{% if has_check %}
{% set valid_css = " is-invalid" if field.errors else " is-valid" if field.raw_data else ""%}
{% endif %}

{% if field.type == "SubmitField"%}

    {{field(class="btn btn-sm btn-success")}}
    <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm text-secondary"></span>

    {% elif field.type in ["CSRFTokenField","HiddenField"]%}

    {{field()}}

    {% elif field.type == "BooleanField"%}

    {% if field.value %}
        {% set extra = {"checked": "checked", "hx-post":True, "hx-target":"closest div"} %}
    {% else %}
        {% set extra = {"hx-post":True, "hx-target":"closest div"} %}
    {% endif %}

    <div class="form-check mb-3" id="{{field.id}}-container">
        {{field(class="form-check-input"~valid_css, **extra)}}
        <label class="form-check-label" for="{{field.name}}">{{field.label.text|safe}}</label>
        {% include "errors.html"%}
        {% include "description.html"%}
    </div>

{% elif field.type == "RadioField"%}

    <fieldset id="{{field.id}}-container">
        {{field.label(class="form-label")}}
        {% for subfield in field %}
        <div class="form-check">
            {{subfield(class="form-check-input"~valid_css, **{"hx-post":True, "hx-target":"closest fieldset"})}}
            {{subfield.label(class="form-check-label")}}
            {% if loop.last %}
            {% include "errors.html"%}
            {% include "description.html"%}
            {% endif %}
        </div>
        {% endfor%}
    </fieldset>
{% elif field.type == "FormField" %}

<div id="{{field.name}}">
    {% for subfield in field %}

        {{ render_field(subfield, has_check) }}

    {% endfor %}

</div>

{% else %}

    <div class="mb-3" id="{{field.id}}-container">
        {{field.label(class="form-label")}}

        {% if field.type in ["SelectField", "SelectMultipleField"]%}
        {% set css = "form-select"%}
        {% elif field.type in ["IntegerRangeField", "DecimalRangeField"]%}
        {% set css = "form-range"%}
        {% elif field.type == "ColorField"%}
        {% set css = "form-control form-control-color"%}
        {% else %}
        {% set css = "form-control"%}
        {% endif %}
        {{field(**{"class":css~valid_css, "hx-target":"closest div", "hx-post":true})}}

        {% include "errors.html"%}
        {% include "description.html"%}
    </div>
{% endif %}

{% endmacro %}