<!DOCTYPE html>
<html lang="en">
<head>
    <title>LeineLab e.V. - Mitgliedsantrag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='leinelab0.png')}}">
    <style>
        body {
            padding: 20px;
        }
        #loading{
            display:none;
        }
        .htmx-request#loading {
            display:inline-block;
        }
    </style>
</head>

<body style="display:flex; justify-content : center;">
    <div style="max-width: 600px;">
        <div style="text-align: center;">
        <img src="{{ url_for('static', filename='leinelab0.png')}}" width="300" alt="LeineLab Logo - An den Glider aus Game of Life angelehntes L auf regenbogenfarbenem Hintergrund.">
        </div>
        <h1 style="margin-top: 30px;">LeineLab e.V. - Mitgliedsantrag</h1>
            {% from "form.html" import render_field with context %}

            {% block content %}
            <form method="post" hx-indicator="#loading" hx-swap="outerHTML" id="{{form._prefix}}form" hx-post novalidate encoding="{{encoding}}">

                <h3 style="padding-top:30px">Basisdaten</h3>

                {{ form.csrf_token }}

                {% if form.form_errors %}
                <div class="alert alert-danger" role="alert"><ul>
                {% for error in form.form_errors %}
                <li>{{error}}</li>
                {% endfor %}
                </ul></div>
                {% endif %}

                <div id="name-outer">
                {{ render_field(form.name) }}
                {{ render_field(form.full_address) }}
                </div>
                {{ render_field(form.email) }}

                <div id="x2" hx-post="" hx-trigger="change{{ ',load' | safe if "HX-Request" not in request.headers }}">
                    <h3 style="padding-top:30px" id="beitrag" hx-post="" hx-trigger="input from:#x2">
                        Dein Beitrag: <span class="badge rounded-pill bg-primary">
                        <span id="beitrag">{{ beitrag }}</span> € / Monat</span>
                    </h3>
                    {% if request.form['x-ermaessigt'] %}
                    <div class="alert alert-info" role="alert">
                        Hinweis: Falls du den angezeigten Beitrag aus finanziellen Gründen trotz Ermäßigung immer
                        noch nicht aufbringen kannst, sprich uns als Vorstand gerne an. Wir haben
                        nach der Beitragsordnung die Möglichkeit, weitere individuelle Vergünstigungen
                        für Sonderfälle zu vergeben.
                    </div>
                    {% endif %}

                    {{ render_field(form.mitgliedsart, False) }}
                    {{ render_field(form.x, False) }}

                </div>

                <h3 style="padding-top:30px">Zahlungsdaten</h3>

                <div id="sepa-dep" hx-post="" hx-trigger="change,input from:#name-outer{{ ',load' | safe if "HX-Request" not in request.headers }}">
                    {{ render_field(form.sepa.mitglied_is_inhabende, False)}}
                    {{ render_field(form.sepa.kontoinhabende) }}
                    {{ render_field(form.sepa.kontoinhabende_addresse) }}
                </div>

                {{ render_field(form.sepa.iban) }}
                {{ render_field(form.sepa.kreditinstitut) }}
                {{ render_field(form.sepa.einwilligung) }}

                <div class="alert alert-info" role="alert">
                    Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten
                    Betrags verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
                </div>
                <div class="alert alert-info" role="alert">
                    Die Behandlung von nicht eingelösten Lastschriften und die damit verbundenen Kosten werden in der Gebührenordnung des
                    LeineLab&nbsp;e.V. geregelt.
                </div>
                <div class="alert alert-info" role="alert">
                    Sofern nicht anders vereinbart, werden die Mitgliedsbeiträge in einer jährlichen Sammelbuchung eingezogen.
                </div>

                <h3 style="padding-top:30px">Datenschutz</h3>

                {{ render_field(form.datenschutz) }}

                <button type="submit" class="btn btn-primary">
                    <span id="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Submit
                </button>
            </form>
        {% endblock %}
    </div>
</body>

</html>
